<form method="POST" role="form">
    <div class="form-group">
        <label for="username">Character Name</label>
        <input type="text" class="form-control" id="username" placeholder="Character name">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default btn-block">Login</button>
</form>