{{>header}}
<div class="well">
    <div class="container">

    </div>
</div>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body">

                </div>
            </div>
        </div>

{{>footer}}