{{>header}}
{{>banner}}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            {{>navigation}}
        </div>
        <div class="col-md-9" role="main">
            <div class="panel panel-default">
                <div class="panel-body text-justify">
                   {{>forms/login}}
                </div>
            </div>

        </div>
    </div>
</div>
{{>footer}}