<div class="well">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <img class="img-responsive" src="assets.php/img/logindragon.gif">
            </div>
            <div class="col-xs-9">
                <h1> <a href="/"> Legends of the Green dragon</a></h1>
                <p class="small">Welcome to Legend of the Green Dragon, a browser based role playing game, based on Seth Able's Legend of the Red Dragon. </p>
            </div>
        </div>


    </div>
</div>