<div class="well text-center">
    <div class="container">
        <img src="assets.php/img/logindragon.gif">
        <h1> Legends of the Green dragon</h1>
        <p class="small">Welcome to Legend of the Green Dragon, a browser based role playing game, based on Seth Able's Legend of the Red Dragon. </p>
    </div>
</div>