{{>scripts}}
        <div class="container text-center small">
            Creative Commons License This work is licensed under a Creative Commons License.
            Game Design and Code: Copyright © 2002-2005, Eric Stevens & JT Traub, © 2006-2007, Dragonprime Development Team
        </div>
</body>
</html>