<div class="list-group">
    {{#navigation}}
        {{^link}}
        <div class="list-group-item">{{text}}</div>
        {{/link}}
        {{#link}}
        <a href="{{link}}" class="list-group-item{{#active}} active{{/active}}">{{text}}</a>
        {{/link}}
    {{/navigation}}
</div>


